/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/resources/public/course/js
/out
/.repl
*.log
/.env
*.idea
*.iml
Would skip repository clojurecademy/
env/
*.asc
temp.clj
maill.clj
*.zip
.DS_Store
deployment
resources/config.edn
resources/logback.xml
resources/mails.edn
DEPLOYMENT-STEPS.txt
